<%= simple_form_for(@pin, html: { class: "form-horizontal"}) do |f| %>
	<%# , html: { class: "form-horizontal"} makes the change %>
  <%= f.error_notification %> <%# Must be signed in error%>
  <%= f.full_error :image_file_size, class: "alert alert-error" %>
  <%= f.full_error :image_content_type, class: "alert alert-error" %>

  <%# The below is an example of simpleform documentation%>
  <%= f.input :image, label: "Upload an image" %>
  <%= f.input :description, as: :text, input_html: { rows: "3" } %>
  <%# This allows us to input 3 rows of text to describe pin  %>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>
